:root {
  font-family: "Roca Two",  system-ui;
  font-weight: 200;
  line-height: 1.5;
  font-size: clamp(12px, 1.5vw + 3px, 18px);

  color: var(--content-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Texto */
  --content-primary: #FFFFFF;

  /* Fundo */
  --bg-primary: #161026;
  --bg-secondary: #312A3F;

  /* Cores da marca */
  --brand-blue: #99ffe6;
  --brand-yellow: #fdff99;
  --brand-pink: #ff99a1;
  --brand-red: #f20548;
  --brand-black: #161026;
  --brand-purple: #583df2;
  --brand-violet: #a399ff;
  --brand-gray: #ffffff;

  /* Cores gerais */
  --red: #F20548;
  --purple: #583DF2;
  --yellow: #FDFF99;
  --white: #FFFFFF;
  --blue: #7684FF;
  --pink: #FF4B71;
  --green: #8DFF92;
  --orange: #FF9345;
  
  --red-light: #FF9595;
  --purple-light: #B385E7;
  --blue-light: #67BDE7;

  --bg-principal: #161026;
  --bg-secundario: #060709;
  --cor-texto: #f6f0ff;
  --cor-texto-mutado: #a399ff;
  --cor-destaque: #fdff99;
  --cor-borda: #f20548;
  --cor-borda: #30363d;
  --cor-url: #99ffe6;
  --sh-keyword: #ff7b72;
  --sh-string: #a5d6ff;
  --sh-comment: #8b949e;
  --sh-function: #d2a8ff;
  --sh-number: #79c0ff;
  --sh-punctuation: #c9d1d9;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#root {
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
}

p, a {
  margin: 0;
  font-family: "Roca Two";
  color: var(--content-primary);
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.25rem;
  white-space: pre-wrap;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Roca Two';
  src: url('/fonts/roca-two-thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roca Two';
  src: url('/fonts/roca-two-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}