.member {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.member-photo {
  width: 100%;
  
  @media (min-width: 768px) {
    flex: 400px 0 0;
  }
}

.member-photo-container {
  border-radius: 0.5em;
  aspect-ratio: 4/3;
  width: 100%;
  overflow: hidden;

  @media (min-width: 768px) {
    aspect-ratio: 3/4;
  }
}

.member-photo img {
  object-fit: cover;
  object-position: center;
  border-radius: 0.5em;
}

.member-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

.member-content-about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  
  & h2, p {
    width: 100%;
  }

  & .bg-img {
    position: absolute;
    z-index: -1;
    right: -2rem;
    top: -2rem;
    width: 15rem;
    opacity: 0.15;
  }
  
  & .icon {
    width: 2.75rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
}

.member-badges-display {
  flex: 1;
  width: min-content;
  border: solid var(--brand-purple) 2px;
  border-radius: 0.5rem;
}

.member-projects-display {
  flex: 1;
  width: 100%;
  max-height: fit-content;
  border: solid var(--bg-secondary);
  border-radius: 1rem;
  overflow: hidden;

  & h3 {
    margin: 0;
    padding: 0.75rem 1rem;
    width: 100%;
    background: var(--bg-secondary);
  }
}

.member-content h2::before {
  content: var(--icon);
  margin-right: 0.2rem;
}