.title-iconic {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.title-iconic :last-child {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;

  & span {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}

.icon-emoji {
  font-size: 1em;
  line-height: 1;
}

.icon-file {
  width: 1em;
  height: 1em;
  object-fit: contain;

  flex-shrink: 0;
}