.selectedOption {
    position: relative;
    display: flex;
    height: 4rem;
    width: 14rem;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;

    padding: 1rem;
    border-radius: 10rem;
    overflow: hidden;
}

.todos {
    width: 16rem;
    background-color: #7163CA;
}

.selectedOption h1 {
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 
        0 0 2rem var(--bg-primary),
        0 0 2rem var(--bg-primary),
        0 0 2rem var(--bg-primary),
        0 0 4rem var(--bg-primary),
        0 0 4rem var(--bg-primary);
}

.selectedOption img {
    position: absolute;
    z-index: -1;
    width: 15rem;
    object-fit: cover;
    top: -1rem;
    left: 0;
    opacity: 0.95;
}

.selectedOption:hover {
    cursor: pointer;
}

.unselectedOption {
    position: relative;
    display: flex;
    height: 4rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}
.unselectedOption h2 {
    font-weight: 500;
}
.unselectedOption:hover {
    cursor: pointer;
}