.quiz-modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(from var(--bg-secondary) r g b / 70%);
  width: 100vw;
  height: 100vh;

  z-index: 9999999;
}

.quiz-modal-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: top;
  gap: 16px;
}

.quiz-modal-container {
  z-index: 1000;
  max-width: 900px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 3em 2.5em 2em;
  border-radius: 10px;
  background: #161026;
  box-shadow: 0rem 0.05rem 0.5rem rgba(0, 0, 0, 0.25);
}

.close-quiz-modal {
  display: flex;
  width: auto;
  justify-content: flex-end;
}

.close-quiz-modal p:hover {
  cursor: pointer;
}

.quiz-modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}

.quiz-modal-meme {
  position: relative;
  min-width: 100%;
  min-height: 250px;
  border-radius: 10px;
  overflow: hidden;
  background-image: var(--meme-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quiz-modal-meme::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--meme-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(80px);
  transform: scale(8);
}

.quiz-modal-meme img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 250px;

  object-fit: contain;
}

.quiz-modal-head-texto {
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: inline-block;
  width: 100%;
}

.quiz-modal-respostas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}
