.app-header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-links > a {
  font-size: 1.4em;
}